{
  "setCode": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-966-13524696546-198818",
  "setCustId": "199137",
  "setDeviceFlag": "1",
  "setLoginname": "hehh",
  "setMobile": "13524696546",
  "setStadiumId": "966",
  "setToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "setUserid": "198818"
}
